/* Start Variables */
    :root {
        --main-color: #10cab7;
        --secondary-color: #2c4755;
        --section-padiing: 60px;
        --section-background : #f6f6f6;
    }
/* End Variables */
/* Start Glopal Rules */
    *{
        -webkit-box-sizing: border-box; 
        -moz-box-sizing: border-box; 
        box-sizing: border-box; 
    }
    body{
        font-family: 'Work Sans', sans-serif;
    }
    .parent{
        background-color: #eee;
    }
    .container{
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    html{
        scroll-behavior: smooth;
    }

    /* Small Screnns */

    @media (min-width: 768px) {
        .container{
            width: 750px;
        }
    }

    /* Medium Screnns */

    @media (min-width: 992px) {
        .container{
            width: 970px;
        }
    }

    /* Large Screnns */

    @media (min-width: 1200px) {
        .container{
            width: 1170px;
        }
    }
/* End Glopal Rules */
/* Start Components */
.special-heading{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading + p{
    color: #777;
    font-size: 20px;
    text-align: center;
    margin-top: -30px;
}

@media (max-width: 767px) {
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
    margin-top: -20px;
}
}
/* End Components */
/* start Header */
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 60px;
}
.header .links{
    position: relative;
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .links .icon{
    display: flex;
    width: 30px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    width: 100%;
    height: 2px;
}
.header .links .icon span:nth-child(2){
    width: 70%;
    transition: .5s;
}
.header .links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--section-background);
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
.header .links ul::before{
    content: "";
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #f2f2f2 transparent;
    position: absolute;
    right: 0;
    top: -30px;
}
.header .links:hover ul{
    display: block;
}
.header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: .5s;
}
.header .links ul li a:hover{
    padding-left: 25px;
}
.header .links ul li:not(:last-child){
    border-bottom: #ccc 1px solid;
}

/* End Header */
/* Start Landing Section */
.landing{
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
    text-align: center;
}
.landing .intro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    translate:(-50% , -50%);
    max-width: 100%;
}
.landing .intro h1{
    margin: 0px;
    color: var(--main-color);
    font-weight: bold;
    font-size: 45px;
}
.landing .intro p{
    color: white;
    font-size: 20px;
    line-height: 1.8;
}
/* End Landing Section  */
/* Strat Features  */
.features{
    padding-top: var(--section-padiing);
    padding-bottom: var(--section-padiing);
    background-color: var(--section-background);
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
    gap: 20px;
}
.features .container .feat{
    padding: 20px;
    text-align: center;
}
.features .container .feat i{
    font-size: 80px;
    color: var(--main-color);
}
.features .container .feat h3{
    font-weight: 800;
    margin: 30px 0px;
}
.features .container .feat p{
    line-height: 1.8;
    color: #777;
    font-size: 18px;
}
/* End Features  */
/* Start Services */
.services{
    padding-top: var(--section-padiing);
    padding-bottom: var(--section-padiing);
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 30px;
    margin-top: 80px;
}
.services .services-content .srv{
    display: flex;
    margin-bottom: 40px;
    text-align: center;
}
@media (max-width:767px) {
    .services .services-content .srv{
        flex-direction: column;
    }
}
.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px;
    font-size: 40px;
}
.services .services-content .srv .text {
    flex: 1;
}
.services .services-content .srv .text h3 {
    margin: 0 0 20px;
}
.services .services-content .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.8;
}
.services .services-content .col .image img {
    width: 100%;
}
.services .services-content .col .image {
    text-align: center;
    position: relative;
}
.services .services-content .col .image::before{
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    height: calc(100% + 60px);
    width: 100px;
    top: -30px;
    right: -50px;
    z-index: -1;
}
@media (max-width: 1199px) {
    .services .services-content .col .image-column{
        display: none;
    }
}
/* End Services */
/* Start Portfolio  */
.portfolio{
    padding-top: var(--section-padiing);
    padding-bottom: var(--section-padiing);
    background-color: var(--section-background);
}
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-content .imgportifolio{
    background-color: white;
}
.portfolio .portfolio-content .imgportifolio img{
    max-width: 100%;
}
.portfolio .portfolio-content .imgportifolio .info{
    padding: 20px;
}
.portfolio .portfolio-content .imgportifolio .info h3{
    margin: 0;
}
.portfolio .portfolio-content .imgportifolio .info p{
    color: #777;
    line-height: 1.8;
    margin-bottom: 0;
}

/* End Portfolio  */
/* Start about */
.about{
    padding-top: var(--section-padiing);
    padding-bottom: calc( var(--section-padiing) + 60px);
}
.about .about-content{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width:991px) {
    .about .about-content{
    flex-direction: column;
    text-align: center;
    align-items: center;
    }
}
.about .about-content .image{
    position: relative;
    width: 395px;
    height: 436px ;
}
@media (max-width:767px) {
    .about .about-content .image{
        width: 100%;
    }
}
@media (max-width:991px) {
    .about .about-content .image{
        margin-bottom: 50px;
    }
}

.about .about-content .image img{
    max-width: 100%;
}
.about .about-content .image::before{
    position: absolute;
    content: "";
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -60px;
    left: -20px;
    z-index: -1;
    padding: 20px;
}
@media (max-width:991px) {
    .about .about-content .image::before{
        display: none;
    }
}
.about .about-content .image::after{
    position: absolute;
    content: "";
    background-color: transparent;
    width: 100px;
    height: 250px;
    border-style: solid;
    border-width: 0px 0px 90px 90px;
    border-color: transparent transparent var(--main-color) var(--main-color);
    top: -20px;
    right: -130px;
    z-index: -1;
}
@media (max-width:991px) {
    .about .about-content .image::after{
        display: none;
    }
}
.about .about-content .text{
    flex-basis: 50%;
    padding-left: 70px;
}
@media (max-width:991px) {
    .about .about-content .text{
    padding-left: 0px;
    }
}
.about .about-content .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .about-content .text hr{
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);
}
.about .about-content .text p:nth-of-type(2){
    line-height: 2;
    color: #777;
}

/* End about */

/* Start Contact */
.contact{
    padding-top: var(--section-padiing);
    padding-bottom: var(--section-padiing);
    background-color: var(--section-background);
}
.contact .container .info {
    padding-top: var(--section-padiing);
    padding-bottom: var(--section-padiing);
    text-align: center;
}
.contact .container .info .label{
    font-weight: 800;
    margin: 40px;
    font-size: 40px;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .container .info .link{
    display: block;
    font-size: 40px;
    font: 800;
    color: var(--main-color);
    text-decoration: none;
}
.contact .container .info .social{
    justify-content: center;
    margin-top: 20px;
    font-size: 18px;
}
.contact .container .info .social i{
    margin-left: 10px;
    color: var(--secondary-color);
}
@media (max-width:767px) {
    .contact .container .info .label,
    .contact .container .info .link{
        font-size: 20px;
    }
}

/* End Contact */
/* Start Footer */
.footer{
    background-color: var(--secondary-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span{
    font-weight: bold;
    color: var(--main-color);
}
/* End Footer */